{% extends 'base.html.twig' %}

{% block title %}Alumni directory{% endblock %}

{% block body %}
List of Alumni

{% for user in users %}
	<p>{{user.username}} | <a href="/alumni/profile={{user.id}}">{{user.email}}</a></p>
{% endfor %}

{% endblock %}