{#<div class='footer'></div>#}
<footer class='bg-light footer mt-4'>   
    <p class='text-center pt-4'><i class="far fa-copyright"></i> PASF Alumni Association</p>

    <p class='text-center h1'><i class="fab fa-facebook text-primary mr-2"></i><i class="fab fa-instagram mr-2"></i><i class="fab fa-twitter twitter mr-2"></i><i class="fab fa-whatsapp text-success"></i>
</p>

</footer>