<nav class="navbar navbar-expand-sm bg-light navbar-light mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Alumni Association</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link link homelink">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/stories" class="nav-link link storylink">Stories</a>
                </li>
                <li class="nav-item">
                    <a href="/events" class="nav-link link eventlink">Events</a>
                </li>
                <li class="nav-item">
                    <a href="/careers" class="nav-link link careerlink">Careers</a>
                </li>
                <li class="nav-item">
                    <a href="/alumni" class="nav-link link alumnilink">Alumni</a>
                </li>
                
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            {% if app.user.image is not null %}
                                <img src="{{ asset('img/profile_pictures/' ~ app.user.image) }}" class='thumbnail'> 
                            {% else %}
                                <i class='fas fa-user'></i>
                            {% endif %}
                            
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="/admin" class="dropdown-item">Admin Dashboard</a>
                            {% endif %}
                            <a href="/alumni/profile={{app.user.id}}" class="dropdown-item">Profile</a>
                            <a href="/logout" class="dropdown-item">Log out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/register" class="nav-link link alumnilink">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link link alumnilink">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>        
    </div>
</nav>

<style>
.thumbnail {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0.1,0.1,0.1,0.5); 
}
.navbar-toggle {
    background-color: white;
    background-image: none;
    border: 1px solid white;
}
</style>