<div class="bg-light h-100">
    <div class="h4 pt-3 pl-4 pr-4">
        {{ render(controller(
            'App\\Controller\\SearchController::searchBarPosts'
        )) }}
    </div>
    <div class="h4 pt-3 pl-4">{{ tag }} Posts</div>
    <ul>
{% for post in posts %}
    
        <li><a href="{{ path('showPost', {slug: post.slug}) }}" class="link alumnilink">
            {{ post.title }}
        </a></li>
    
{% endfor %}
    </ul>
</div>